
.image {
  position: relative;
  width: max-content;
  object-fit: cover;
  display: block;
}

.banner {
  z-index: 100;
  position: absolute;
  text-align: left;
  width: 1420px;
  height: 500px;
  color: white;
  font-family:'Courier New', Courier, monospace;
}
