<div class="container">
  <%= image_tag "stock.jpeg", class:"banner" %>
  <div class="banner">
    <h1>PERRINVEST</h1>
    <p>Charts, Blogs and Investments</p>
    <%= link_to 'Blogs', blogs_path, class: "button-home" %>
  </div>
</div>
